<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'A Palavra de Deus' in resource group 'MagicBox' -->
  <InstrumentationKey>510b10fb-3ffc-4378-8594-ab65de300b5b</InstrumentationKey>
</ApplicationInsights>